<div class="col-lg-6 ">
    <div class="well bs-component">
        <form class="form-horizontal" name="change-password" id="change-password-form">
            <legend>Change Password?</legend>
            <div class="form-group">
                <label for="username" class="col-lg-4 control-label">E-mail</label>
                <div class="col-lg-8">
                    <input type="text" placeholder={{authenticationService.getCurrentUser().userName}}
                           class="form-control" id="username" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="oldPassword" class="col-lg-4 control-label">Old Password:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="oldPassword" required="required"
                           ng-model="passwordData.oldPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-lg-4 control-label">New Password:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="newPassword" required="required"
                           ng-model="passwordData.newPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-lg-4 control-label">Confirm Password:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="confirmPassword" required="required"
                           ng-model="passwordData.confirmPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary changePass" ng-click="changePassword(passwordData)">Change Password</button>
                    <a href="#/" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>