<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<div ng-include="'templates/navbar.html'"></div>

<div class="container">
    <div class="well bs-component col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" name="addNewProjectForm" ng-controller="ProjectsController" ng-submit="addNewProject()">
            <fieldset>
                <legend>New Project</legend>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" ng-model="projectData.name" placeholder="new project" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDescription" ng-model="projectData.description" placeholder="description" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputProjectKey" class="col-lg-2 control-label">ProjectKey</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputProjectKey" ng-model="projectData.key" placeholder="project key" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLeadId" class="col-lg-2 control-label">ProjectKey</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputLeadId" ng-model="projectData.leadId" placeholder="lead id" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPriorities" class="col-lg-2 control-label">Priorities (separated by coma)</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPriorities" ng-model="projectData.priorities" placeholder="Low, Medium, Urgent" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Add Issue</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>