
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<div ng-include="'templates/navbar.html'"></div>

<div class="container" ng-controller="AuthenticationController">
    <div class="well bs-component col-lg-5">
        <form class="form-horizontal" name="registerForm" ng-submit="editUser()">
            <fieldset>
                <legend>Edit Profile</legend>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" ng-model="userData.name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" ng-model="userData.email" placeholder="Email">
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" id="userImageData" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" class="form-control" id="userImage" name="userImage">
                            </span>
                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" id="coverImageData" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-info btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" class="form-control" id="coverImage" name="coverImage">
                            </span>
                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/#/user/home" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Edit Profile</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="well bs-component col-lg-6 col-lg-offset-1">
        <form class="form-horizontal" name="registerForm" ng-submit="changePassword()">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">Old Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="oldPass" ng-model="passwordData.oldPassword" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="newPass" ng-model="passwordData.newPassword" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">Confirm New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="confirmNewPas" ng-model="passwordData.confirmPassword" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-4">
                        <a href="/#/user/home" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>